{% extends "pizzas/base.html" %}
{% block content %}
{% load static %}
<p>Pizzas : {{ Pizas }}</p>
<img src="{% static 'gallery/Hawain.png' width=50 %}">
<p>Toppings: </p>
<ul>
    {% for topping in toppings %}
    <li>
        <p>{{ topping.name|linebreaks }}</p>
     </li>
    {% empty %}
      <li> There are no topings for this Pizza.</li>
    {% endfor %}
</ul>



<p>
  <a href="{% url 'pizzas:pizzacomments' Pizas.id %}">Add a Comment</a>
</p>
<p>Comments: </p>
<ul>
  {% for Comment in comments %}
  <li>
    <p>{{ Comment.text|linebreaks }}</p>
  </li>
  {% empty %}
  <li> There are no comments for this Pizza.</li>
  {% endfor %}
</ul>





{% endblock content %}